@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.range_pack {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}

.range::-webkit-slider-thumb {
  appearance: none;
  pointer-events: all;
  width: 30px;
  height: 200px;
  /* border-radius: 50%; */
  /* opacity: 1; */
  background: pink;
  cursor: ew-resize;
  /* z-index: 2; */
}

.image_box > input {
  pointer-events: none;
  position: absolute;
  appearance: none;
  opacity: 0;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  top: 50%;
  background-color: transparent;
}

.image_box {
  display: flex;
  align-items: flex-start;
  position: relative;
  border: 2px solid rgb(31, 64, 228);
  position: relative;
  height: 2rem;
  /* overflow: hidden; */
  border-radius: 10px;
  width: 98%;
}
.image_box > img {
  height: 100%;
  width: 10%;
  object-fit: cover;
}

.clip_box {
  position: absolute;
  height: 100%;
  transform: translateY(-5%);
  border-radius: 10px;
}
.clip_box::before,
.clip_box::after {
  position: absolute;
  top: 70%;
  /* transform: translateY(150%); */
  background-color: #303030;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
}
.clip_box::before {
  content: attr(data-start);
  left: 0;
  transform: translateY(90%) translateX(-50%);
}
.clip_box::after {
  content: attr(data-end);
  right: 0;
  transform: translateY(90%) translateX(50%);
}

.clip_box_des {
  width: 1rem;
  height: 110%;
  background-color: rgb(31, 64, 228);
  position: absolute;
  z-index: -1;
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: center;
}

.clip_box_des:nth-child(1) {
  left: 0;
  transform: translateX(-70%);
  border-radius: 10px 0 0 10px;
}
.clip_box_des:nth-child(2) {
  right: 0;
  transform: translateX(70%);
  flex-flow: row-reverse;
  border-radius: 0 10px 10px 0;
}
.clip_box_des::before,
.clip_box_des::after {
  content: "";
  width: 3px;
  background-color: #ffffff;
  border-radius: 200px;
}
.clip_box_des::before {
  height: 60%;
}
.clip_box_des::after {
  height: 40%;
}
